* {
    box-sizing: border-box;
}

body {
    overflow: scroll;
    background-color: rgb(27, 27, 28);
    margin: 25px;
}

h1 {
    font-size: 100px;
    color: aliceblue;
    font-family: 'Climate Crisis', cursive;
    margin: 20px;
}

input {
    text-align: center;
    background-color: rgb(40, 43, 85);
    color: aliceblue;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-color: aliceblue;
    padding: 10px;
    margin-left: 100px;
}

#submit {
    background-color: rgba(3, 4, 4, 100%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: aliceblue;
    padding: 10px;
}

.form {
    display: flex;
    align-items: center;
}

.nav {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

img {
    height: 450px;
    width: 300px;
    border-radius: 5px;
}

#content {
    float: left;
    height: 500px;
    width: 302px;
    border-radius: 5px;
    border: 1px white solid;
    margin: 15px;
}

.mname {
    background-color: grey;
    height: 50px;
    vertical-align: middle;
    border-radius: 5px;
}

h3 {
    margin: 0px;
    padding-top: 0px;
    text-align: center;
    color: aliceblue;
    padding: 10px;
    background-color: grey;
    border-radius: 5px;
    /* width: 300px; */
}

/* this is css for the night mode button */

/* The switch - the box around the slider */


.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
}

input:checked+.slider {
    background-color: #522ba7;
}

input:checked+.slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
}

*/
/* end of the button css */

.nmbtn {
    margin: auto;
}